# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Python files
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

# YAML files (Docker Compose, GitHub Actions, etc.)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# JavaScript/TypeScript (future frontend)
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# CSS/SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Configuration files
[*.{toml,ini,cfg}]
indent_style = space
indent_size = 4

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 4